-- CONSULTA PARA VERIFICAR TODAS LAS TABLAS EXISTENTES EN SUPABASE

-- =====================================================
-- 1. Ver TODAS las tablas en el esquema public
-- =====================================================
SELECT
    table_name,
    table_type,
    CASE
        WHEN table_name LIKE 'user_%' THEN 'TABLA DE USUARIO'
        WHEN table_name LIKE 'product%' THEN 'TABLA DE PRODUCTOS'
        WHEN table_name LIKE 'cart%' OR table_name LIKE 'shopping%' THEN 'TABLA DE CARRITO'
        WHEN table_name LIKE 'order%' OR table_name LIKE 'purchase%' THEN 'TABLA DE ÓRDENES'
        WHEN table_name LIKE 'artist%' THEN 'TABLA DE ARTISTAS'
        WHEN table_name LIKE 'event%' THEN 'TABLA DE EVENTOS'
        WHEN table_name LIKE 'role%' THEN 'TABLA DE ROLES'
        ELSE 'OTRA TABLA'
    END as categoria
FROM information_schema.tables
WHERE table_schema = 'public'
ORDER BY table_name;

-- =====================================================
-- 2. Ver todas las secuencias (sequences)
-- =====================================================
SELECT
    sequencename as nombre_secuencia,
    sequenceowner as propietario,
    data_type as tipo_dato,
    start_value as valor_inicial,
    increment_by as incremento
FROM information_schema.sequences
WHERE sequence_schema = 'public'
ORDER BY sequencename;

-- =====================================================
-- 3. Ver qué tablas FALTAN crear
-- =====================================================
SELECT 'user_profiles' as tabla_necesaria
WHERE NOT EXISTS (SELECT 1 FROM information_schema.tables WHERE table_schema = 'public' AND table_name = 'user_profiles')
UNION ALL
SELECT 'user_settings' as tabla_necesaria
WHERE NOT EXISTS (SELECT 1 FROM information_schema.tables WHERE table_schema = 'public' AND table_name = 'user_settings')
UNION ALL
SELECT 'user_activity_log' as tabla_necesaria
WHERE NOT EXISTS (SELECT 1 FROM information_schema.tables WHERE table_schema = 'public' AND table_name = 'user_activity_log')
UNION ALL
SELECT 'user_tokens' as tabla_necesaria
WHERE NOT EXISTS (SELECT 1 FROM information_schema.tables WHERE table_schema = 'public' AND table_name = 'user_tokens');

-- =====================================================
-- 4. Ver políticas RLS de las tablas existentes
-- =====================================================
SELECT
    schemaname,
    tablename,
    rowsecurity as rls_enabled,
    CASE
        WHEN rowsecurity = true THEN 'RLS ACTIVO'
        ELSE 'RLS DESACTIVADO - PROBABLE CAUSA DE ERROR 400'
    END as status
FROM pg_tables
WHERE schemaname = 'public'
AND tablename IN ('user_addresses', 'user_tokens');

-- =====================================================
-- 5. Ver qué políticas RLS existen
-- =====================================================
SELECT
    schemaname,
    tablename,
    policyname,
    permissive,
    roles,
    cmd,
    qual
FROM pg_policies
WHERE schemaname = 'public'
AND tablename IN ('user_addresses', 'user_tokens')
ORDER BY tablename, policyname;